.orderConfirmationOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderConfirmationContent {
  background-color: #8fbd92;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.orderConfirmationContent h2,
.orderConfirmationContent p {
  margin: 10px 0;
}

.orderConfirmationContent ul {
  list-style-type: none;
  padding: 0;
}

.orderConfirmationContent ul li {
  margin: 5px 0;
}

.closeConfirmationBtn {
  background-color: #ffffff;
  color: #8fbd92;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.closeConfirmationBtn:hover {
  background-color: #76a879;
  color: #ffffff;
}

.priceCont {
  display: flex;
}
