/* GENERAL LAYOUT */
.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 100vw; 
  margin: 0;
  background-color: var(--primary-color);
  font-family: 'Roboto Serif', serif;
  color: var(--black);
  gap : 2em;
}

/* HEADER SECTION */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4em;
  margin-bottom: 1em;
}

.headerLeft {
  text-align: center;
}

.mainTitle {
  font-family: 'Monoton', cursive;
  font-size: var(--font-xlarge);
  font-weight: 400;
  margin: 0;
  line-height: 1.2;
}

.subTitle {
  font-family: 'Roboto Serif', serif;
  font-size: var(--font-small);
  font-weight: 400;
  margin: 0;
  border-top: 2px solid var(--tertiary-color);
  border-bottom: 2px solid var(--tertiary-color);
}

.headerRight {
  width: 50%;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap : 2em;
  font-size: var(--font-xsmall);
  font-weight: 400;
  margin:0;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  color: var(--secondary-color);
  border-radius: 0.2em;
  padding: 0.2em;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: var(--complementary-1);
  border: 2px dashed var(--tertiary-color);
}


.cartIcon {
  height: var(--font-small);
}



/* HERO SECTION */
.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.heroContainer {
  display: flow-root;
  width:80vw;
  max-width: 1000px;
  min-width: 300px
}

.mainText {
  font-family: 'Roboto Serif', serif;
  font-size: var(--font-large);
  font-weight: 800;
  margin: 0;
}

.secondaryText {
  font-size: var(--font-small);
  font-weight: 400;
  line-height: 1.1;
}


.heroImage {
  float: right;
  shape-outside:url(../assets/lppotato.svg) ;
  width: 55%;
  max-width: 700px;
}




/* HOW-TO SECTION */
.howtoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.howtoTitle {
  font-size: var(--font-medium);
  font-weight: 600;
}

.howtoCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  gap: 2rem;
}

.howtoCard img {
  width: clamp(250px, 25vw, 600px);
  height: auto;
}

/* CUSTOMIZE BUTTON */
.customizeButton {
  /* position: sticky; */
  background-color: var(--secondary-color);
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-medium);
  font-weight: 400;
  /* border: none; */
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.customizeButton:hover {
  background-color: var(--complementary-1);
}

/* ABOUT US SECTION */
.aboutUsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.aboutUsTitle {
  font-size: var(--font-medium);
  font-weight: 600;
}

.aboutUsDescription {
  font-size: var(--font-small);
  text-align: center;
}

.aboutUsCardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.aboutUsCard {
display: flex;
flex-direction: column;
align-items: center;
width: clamp(250px, 25vw, 800px);
gap: 1rem;
}

.aboutUsCardTitle {
  font-size: var(--font-small);
  font-weight: 600;
  text-align: center;
}

.aboutUsCardText {
  font-size: var(--font-xsmall);
  text-align: justify;
}

.aboutUsCard img {
  width: clamp(250px, 25vw, 800px);
  height: auto;
}

/* FOOTER SECTION */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLine {
  width: 100%;
  height: 2px;
  background-color: var(--tertiary-color);
  margin-bottom: 20px;
}

.footerContent {
  text-align: center;
}

.footerLogo {
  font-family: 'Monoton', cursive;
  font-size: var(--font-large);
  font-weight: 400;
}

.footerTitle {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-small);
}

.footerHours {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-small);
}

